/*numberplaceforbrowser_question_hard*/
/*20241120*/
body {
	background-color: #FFFFFF;
	}

.logo {
	width: 15%;
	min-width: 50px;
	max-width: 150px;
	cursor:pointer;
	}

header {
}

#test_Image {
	height: 50px;
	width: 50px;
	border: 2px black;
	border: 2px solid black;
}

#canvas {
	height: 50px;
	width: 50px;
	border: 2px black;
	border: 2px solid black;
}

.table_test10,.table_test40,.table_test70 {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
	border-spacing: 0px;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	width: 50%;
	min-width: 400px;
	max-width: 700px;
}

.table_test20,.table_test50,.table_test80 {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
	border-spacing: 0px;
	border-right: 2px solid black;
	border-left: 2px solid black;
	width: 50%;
	min-width: 400px;
	max-width: 700px;
}

.table_test30,.table_test60,.table_test90 {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
	border-spacing: 0px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	width: 50%;
	min-width: 400px;
	max-width: 700px;
}

.table_test00 {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 50%;
	min-width: 400px;
	max-width: 700px;
}

.table_test01 {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 50%;
	min-width: 400px;
	max-width: 700px;
}

.table_test02 {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 50%;
	min-width: 400px;
	max-width: 700px;
}

.table_test03 {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 50%;
	min-width: 400px;
	max-width: 700px;
}

.table_test04 {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 50%;
	min-width: 400px;
	max-width: 700px;
}



#table_test00_01,#table_test00_02,#table_test00_03,#table_test00_04,#table_test00_05,#table_test00_06,#table_test00_07,#table_test00_08,#table_test00_09,#table_test00_0A,#table_test00_0B,#table_test00_0C,#table_test00_0D,#table_test00_0E,#table_test00_0F,#table_test00_0G,#table_test00_0H,#table_test00_0I,#table_test00_0J,#table_test00_0K,#table_test00_0L,#table_test00_0M,#table_test00_0N,#table_test00_0O,#table_test00_0P,#table_test00_0Q,#table_test00_0R,#table_test00_0S {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	height: 100%;
	width: 100%;
	max-height: 1000px;
	max-width: 1000px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

#table_test01_01,#table_test02_01,#table_test03_01,#table_test04_01,#table_test05_01,#table_test06_01,#table_test07_01,#table_test08_01,#table_test09_01 {
	display: flex;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 30%;
	max-width: 500px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}
#table_test01_02,#table_test02_02,#table_test03_02,#table_test04_02,#table_test05_02,#table_test06_02,#table_test07_02,#table_test08_02,#table_test09_02 {
	display: flex;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 30%;
	max-width: 500px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}
#table_test01_03,#table_test02_03,#table_test03_03,#table_test04_03,#table_test05_03,#table_test06_03,#table_test07_03,#table_test08_03,#table_test09_03 {
	display: flex;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 30%;
	max-width: 500px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 2px solid black;
	border-left: 1px solid black;
}
#table_test01_04,#table_test02_04,#table_test03_04,#table_test04_04,#table_test05_04,#table_test06_04,#table_test07_04,#table_test08_04,#table_test09_04 {
	display: flex;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 30%;
	max-width: 500px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 2px solid black;
}
#table_test01_05,#table_test02_05,#table_test03_05,#table_test04_05,#table_test05_05,#table_test06_05,#table_test07_05,#table_test08_05,#table_test09_05 {
	display: flex;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 30%;
	max-width: 500px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}
#table_test01_06,#table_test02_06,#table_test03_06,#table_test04_06,#table_test05_06,#table_test06_06,#table_test07_06,#table_test08_06,#table_test09_06 {
	display: flex;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 30%;
	max-width: 500px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 2px solid black;
	border-left: 1px solid black;
}
#table_test01_07,#table_test02_07,#table_test03_07,#table_test04_07,#table_test05_07,#table_test06_07,#table_test07_07,#table_test08_07,#table_test09_07 {
	display: flex;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 30%;
	max-width: 500px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 2px solid black;
}
#table_test01_08,#table_test02_08,#table_test03_08,#table_test04_08,#table_test05_08,#table_test06_08,#table_test07_08,#table_test08_08,#table_test09_08 {
	display: flex;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 30%;
	max-width: 500px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}
#table_test01_09,#table_test02_09,#table_test03_09,#table_test04_09,#table_test05_09,#table_test06_09,#table_test07_09,#table_test08_09,#table_test09_09 {
	display: flex;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 30%;
	max-width: 500px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 2px solid black;
	border-left: 1px solid black;
}

#table_test00_01_Image,#table_test00_02_Image,#table_test00_03_Image,#table_test00_04_Image,#table_test00_05_Image,#table_test00_06_Image,#table_test00_07_Image,#table_test00_08_Image,#table_test00_09_Image,#table_test00_0A_Image,#table_test00_0B_Image {
	width: 100%;
	aspect-ratio: 1/1;
	max-width: 1000px;
	border-collapse: collapse;
	border-spacing: 0;
}

#table_test00_0C_Image,#table_test00_0D_Image,#table_test00_0E_Image,#table_test00_0F_Image,#table_test00_0G_Image,#table_test00_0H_Image,#table_test00_0I_Image,#table_test00_0J_Image,#table_test00_0K_Image,#table_test00_0L_Image {
	width: 100%;
	aspect-ratio: 1/2;
	max-width: 1000px;
	border-collapse: collapse;
	border-spacing: 0;
}

#table_test00_0M_Image,#table_test00_0N_Image,#table_test00_0O_Image,#table_test00_0P_Image {
	width: 100%;
	aspect-ratio: 2/1;
	max-width: 1000px;
	border-collapse: collapse;
	border-spacing: 0;
}

#table_test00_0Q_Image,#table_test00_0R_Image {
	width: 100%;
	aspect-ratio: 4/1;
	max-width: 1000px;
	border-collapse: collapse;
	border-spacing: 0;
}

#table_test00_0S_Image {
	width: 100%;
	aspect-ratio: 8/1;
	max-width: 1000px;
	border-collapse: collapse;
	border-spacing: 0;
}

#table_test01_01_Image,#table_test01_02_Image,#table_test01_03_Image,#table_test01_04_Image,#table_test01_05_Image,#table_test01_06_Image,#table_test01_07_Image,#table_test01_08_Image,#table_test01_09_Image,#table_test02_01_Image,#table_test02_02_Image,#table_test02_03_Image,#table_test02_04_Image,#table_test02_05_Image,#table_test02_06_Image,#table_test02_07_Image,#table_test02_08_Image,#table_test02_09_Image,#table_test03_01_Image,#table_test03_02_Image,#table_test03_03_Image,#table_test03_04_Image,#table_test03_05_Image,#table_test03_06_Image,#table_test03_07_Image,#table_test03_08_Image,#table_test03_09_Image,#table_test04_01_Image,#table_test04_02_Image,#table_test04_03_Image,#table_test04_04_Image,#table_test04_05_Image,#table_test04_06_Image,#table_test04_07_Image,#table_test04_08_Image,#table_test04_09_Image,#table_test05_01_Image,#table_test05_02_Image,#table_test05_03_Image,#table_test05_04_Image,#table_test05_05_Image,#table_test05_06_Image,#table_test05_07_Image,#table_test05_08_Image,#table_test05_09_Image,#table_test06_01_Image,#table_test06_02_Image,#table_test06_03_Image,#table_test06_04_Image,#table_test06_05_Image,#table_test06_06_Image,#table_test06_07_Image,#table_test06_08_Image,#table_test06_09_Image,#table_test07_01_Image,#table_test07_02_Image,#table_test07_03_Image,#table_test07_04_Image,#table_test07_05_Image,#table_test07_06_Image,#table_test07_07_Image,#table_test07_08_Image,#table_test07_09_Image,#table_test08_01_Image,#table_test08_02_Image,#table_test08_03_Image,#table_test08_04_Image,#table_test08_05_Image,#table_test08_06_Image,#table_test08_07_Image,#table_test08_08_Image,#table_test08_09_Image,#table_test09_01_Image,#table_test09_02_Image,#table_test09_03_Image,#table_test09_04_Image,#table_test09_05_Image,#table_test09_06_Image,#table_test09_07_Image,#table_test09_08_Image,#table_test09_09_Image {
	width: 100%;
	aspect-ratio: 1/1;

	max-width: 700px;
	border-collapse: collapse;
	border-spacing: 0;
}

footer {
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}




